// ALL CATEGORIES

.section.no-image
  %h1 Business Categories
  %p
    %b
      %a{:href => @link6A[1]}
        =@link6A[0]
    = " | "
    Scrapbooking, Photography, Handmade items
  %p
    %b
      %a{:href => @link6B[1]}
        =@link6B[0]
    = " | "
    Cosmetics, Perfume, Fitness
  %p
    %b
      %a{:href => @link6C[1]}
        =@link6C[0]
    = " | "
    Books, Magazines, Authors, eBooks
  %p
    %b
      %a{:href => @link6D[1]}
        =@link6D[0]
    = " | "
    Legal Services, Marketing, Insurance
  %p
    %b
      %a{:href => @link6E[1]}
        =@link6E[0]
    = " | "
    Men's &amp; Women's Clothing, Shoes, Jewelry
  %p
    %b
      %a{:href => @link6F[1]}
        =@link6F[0]
    = " | "
    Computer Repair
  %p
    %b
      %a{:href => @link6G[1]}
        =@link6G[0]
    = " | "
    Mary Kay, Tupperware, Passion Parties
  %p
    %b
      %a{:href => @link6H[1]}
        =@link6H[0]
    = " | "
    Wedding Planners, Venues, Event Decorating
  %p
    %b
      %a{:href => @link6I[1]}
        =@link6I[0]
    = " | "
    Catering, Cakes, Cupcakes
  %p
    %b
      %a{:href => @link6J[1]}
        =@link6J[0]
    = " | "
    Lawn Services, Home D&eacute;cor, Home Repair, Home Cleaning Services
  %p
    %b
      %a{:href => @link6K[1]}
        =@link6K[0]
    = " | "
    Charities, Non-profit Organizations
  %p
    %b
      %a{:href => @link6L[1]}
        =@link6L[0]
    = " | "
    Gifts, Baby Items, Clothing, Jewelry
  %p
    %b
      %a{:href => @link6M[1]}
        =@link6M[0]
    = " | "
    Nanny Services, Child Care, Spas
  %p
    %b
      %a{:href => @link6N[1]}
        =@link6N[0]
    = " | "
    Realtors, Home Insurance, Brokers
  %p
    %b
      %a{:href => @link6O[1]}
        =@link6O[0]
    = " | "
    Travel Agents, Limo Services, Moving Companies
  %p
    %b
      %a{:href => @link6P[1]}
        =@link6P[0]
    = " | "
    Web Design, Graphic Design, Web Hosting
