- @title = " | Businesses"
- @subtitle = ""
- @body_class = "six"

- @link6 = ["Businesses", "#"]
- @link6A = ["Apparel / Accessories", "appacc"]
- @link6B = ["Books", "books"]
- @link6C = ["Business Services", "businesses"]
- @link6D = ["Energy", "energy"]
- @link6E = ["Event Planning", "events"]
- @link6F = ["Food / Desserts", "food"]
- @link6G = ["Gifts", "gifts"]
- @link6H = ["Health &amp; Beauty", "healthbeauty"]
- @link6I = ["Home Decor", "homedecor"]
- @link6J = ["Home Parties", "homeparties"]
- @link6K = ["Insurance", "insurance"]
- @link6L = ["Jewelry", "jewelry"]
- @link6M = ["Lawn & Garden", "lawngarden"]
- @link6N = ["Legal Services", "legal"]
- @link6O = ["Personal Services", "personal"]
- @link6P = ["Photography", "photo"]
- @link6Q = ["Real Estate", "realestate"]
- @link6R = ["Travel", "travel"]

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
%script{:src => "javascripts/expandCollapse.js", :type => "text/javascript"}


.body
  .center
    .content
      .sidebar.right
        .subnav
          %h1 Categories
          .link
            %h5 
            %p
              %a{:href => "#"+@link6A[1]}
                =@link6A[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@link6B[1]}
                =@link6B[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@link6C[1]}
                =@link6C[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@link6D[1]}
                =@link6D[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@link6E[1]}
                =@link6E[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@link6F[1]}
                =@link6F[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@link6G[1]}
                =@link6G[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@link6H[1]}
                =@link6H[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@link6I[1]}
                =@link6I[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@link6J[1]}
                =@link6J[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@link6K[1]}
                =@link6K[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@link6L[1]}
                =@link6L[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@link6M[1]}
                =@link6M[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@link6N[1]}
                =@link6N[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@link6O[1]}
                =@link6O[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@link6P[1]}
                =@link6P[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@link6Q[1]}
                =@link6Q[0]
          .link
            %h5 
            %p
              %a{:href => "#"+@link6R[1]}
                =@link6R[0]








      .main
        .content
          %a{:name => @link6A[1]}
          .section.no-image
            %h1=@link6A[0]
            
            %h4 Be the first to advertise here!
            %p
              %a{:href => "/services"} Find out how >>
          
          %a{:name => @link6B[1]}
          .section.no-image
            %h1=@link6B[0]
            
            %h4 Be the first to advertise here!
            %p
              %a{:href => "/services"} Find out how >>
          
          %a{:name => @link6C[1]}
          .section.no-image
            %h1=@link6C[0]
            
            %h4 Resumes by Valerie
            %p
              %b Valerie Wells
              = " | "
              %a{:href => "http://www.resumesbyvalerie.com", :target => "_blank"} resumesbyvalerie.com
              = " | "
              %a{:href =>"mailto:wvalerie@swbell.net"} wvalerie@swbell.net
            %p Resume Specialist/Notary/Credit Repair
            %p Resumes, Cover Letters, Thank You Letters, Job Placement Assistance, Job Interviewing Tips, Typing Services, Notary, Credit Repair/Restoration Services.
                
            %p.page-top
              %a{:href => @link6[1]} Top ^
          
          %a{:name => @link6D[1]}
          .section.no-image
            %h1=@link6D[0]
            
            %h4 Be the first to advertise here!
            %p
              %a{:href => "/services"} Find out how >>
            %p.page-top
              %a{:href => @link6[1]} Top ^
          
          %a{:name => @link6E[1]}
          .section.no-image
            %h1=@link6E[0]

            %h4 La Tranquila Ranch
            %p
              %b Sandra Sanchez
              = " | "
              %a{:href => "http://www.latranquilaranch.com", :target => "_blank"} latranquilaranch.com
              = " | "
              %a{:href =>"mailto:sandra@latranquilaranch.com"} sandra@latranquilaranch.com
            %p
              %b Details:
              %br
              La Tranquila Ranch is located in Tomball, TX, between 45N and HWY 249 N. 41 acres, 2 venues available to fit any budget. Ballroom can hold up to 250, Villa up to 150. Outside vendors welcomed. Outside ceremonies, indoor reception. Call for a tour 281-576-8882.
            %p.page-top
              %a{:href => @link6[1]} Top ^
          
          %a{:name => @link6F[1]}
          .section.no-image
            %h1=@link6F[0]
            
            %h4 Organo Gold by Nadi
            %p
              %b Nadi Elmore
              = " | "
              %a{:href => "http://asipofwealth.organogold.com", :target => "_blank"} http://asipofwealth.organogold.com
              = " | "
              %a{:href =>"mailto:asipofwealth10@gmail.com"} asipofwealth10@gmail.com
            %p
              %b Details:
              %br
              Do you or anyone you know drink coffee or tea at least occasionally? 
              %br
              Let me introduce you to the coffee that pays...In health and wealth.
            %p
              What regular coffee does: dehydrates, raises stress levels, raises blood pressure, very acidic & toxic, coffee jitters & caffeine crash.
              %br
              Vs.
              %br
              What our coffee does: balances PH level, provides energy, oxygenates the body, boosts immune system, increases stamina & natural body detoxification.
            %p
              Contact me for a FREE sample of our Gourmet Coffee or Tea, Nadi 832-814-0408.
              %br
              We specialize in fundraisers & events as well.
              %br
              *Distributor Opportunities Available*
            %p.page-top
              %a{:href => @link6[1]} Top ^
          .spacer
          
          %a{:name => @link6G[1]}
          .section.no-image
            %h1=@link6G[0]

            %h4 Be the first to advertise here!
            %p
              %a{:href => "/services"} Find out how >>
            
          
          %a{:name => @link6H[1]}
          .section.no-image
            %h1=@link6H[0]
            
            %h4 Mary Kay by Stefany
            %p
              %b Stefany Feeney-Owens
              = " | "
              %a{:href => "http://www.marykay.com/stefanyfeeney", :target => "_blank"} marykay.com/stefanyfeeney
              = " | "
              %a{:href =>"mailto:stefanyfeeney@marykay.com"} stefanyfeeney@marykay.com
            %p
              %b Details:
              %br
              Hello! I am a Sales Director with Mary Kay!! Mary Kay Cosmetics offers the Best Selling Brand of Anti-Aging Skin Care and Mineral Makeup!! And has been in business for almost 50 Years! Mary Kay also offers an Amazing Home Based Business Opportunity with the highest Direct Sales Commissions and a Career Car Program!!
            %p
              I offer the following services! Private Skin Care/Color Consultations and Home Parties including Spa Facials with Microdermabrasion Treatment, Glamour Application Techniques, Lash Bash Parties, New Year, New You Parties, to name a few! I also offer Bridal Services including Pre Wedding Consultations for Flawless Skin for your Wedding Day, Color Makeovers, and Day of Makeup! And Glamour Shot Events for those looking for a fun event with a Professional Photographer and a 5x7 Professionally retouched photo. Ask me about a Personalized Party Theme or Idea!! 
            %p
              In a Hurry? I offer "On the Go Services" and "In Office Pampering Sessions" - during lunch or at staff meetings.
            %p
              And I have a Fabulous Hostess Program where you can earn $100 in FREE Mary Kay Products! And always offer Great Specials!!
            %p
              Looking to Earn Extra Income? Listen to the Mary Kay Opportunity and Give me your opinion and I will give you a FREE Lipgloss!! You can work this business, Part-time, Full-time or Hobby Time!! Whether you want to earn an EXTRA $500 or $1000 a month or a Six Figure Income, this business maybe for you!! You won't know until you listen!!

            %p &nbsp;

            %h4 Little Folks Dance & Fitness
            %p
              %b Chaka Jones
              = " | "
              %a{:href => "http://www.littlefolksdance.com", :target => "_blank"} littlefolksdance.com
              = " | "
              %a{:href =>"mailto:info@littlefolksdance.com"} info@littlefolksdance.com
            %p
              %b Details:
              %br
              Little Folks Dance & Fitness is a mobile dance school that travels to daycare, private schools and homes so children can benefit form the joys of Dance and Fitness without interrupting a parent's busy schedule.
            %p
              Having a birthday party? We also provide unique and unforgettable birthday party experiences. Children's dress-up birthday parties, fairy and princess parties, etc. A Little Folks party is the best!
            %p
              Girl Scouts: Have fun while earning your badges! Visit our website for more detail...
              
            %p.page-top
              %a{:href => @link6[1]} Top ^
          
          %a{:name => @link6I[1]}
          .section.no-image
            %h1=@link6I[0]
            
            %h4 alex+von by Danielle Woods
            %p
              %b Danielle Woods
              = " | "
              %a{:href => "http://www.alexandvon.com/brandproducts/5-weedecor.aspx?sellerid=512", :target => "_blank"} alexandvon.com
              = " | "
              %a{:href =>"mailto:dwoodsbpp@gmail.com"} dwoodsbpp@gmail.com
            %p
              %b Details:
              %br
              weeDECOR creates a signature line of decorative wall decals inspired by color, great design and anything that makes children happy. Their mission is to help parents create a more personal, playful space for their child. Mix-and-match hundreds of designs to create a custom look. Choose from an inspiring selection of decorative letters, colors, and styles to help you create the perfect nursery, kid's room, or playroom. Also a perfect gift for new parents! Perfect letters to use as an accent to any kitchen or bathroom project!
            %p I LOVE weeDecor because every decal is easy to apply and remove, and is reusable. They won't damage your walls and they adhere to both smooth and textured surfaces. weeDECOR wall decals are made out of high quality, eco-friendly fabric. Made in the USA to guarantee you a premium product. I offer FREE SHIPPING on orders of $50 or more!
              
            %p.page-top
              %a{:href => @link6[1]} Top ^
          
          %a{:name => @link6J[1]}
          .section.no-image
            %h1=@link6J[0]
            
            %h4 Colorful Creations
            %p
              %b Natichia Gonzales
              = " | "
              %a{:href => "http://www.facebook.com/natichia?ref=ts", :target => "_blank"} facebook.com/natichia
              = " | "
              %a{:href =>"mailto:natichiagonzales@sbcglobal.net"} natichiagonzales@sbcglobal.net
            %p
              %b Details:
              %br
              At Colorful Creations, Balloons for all Occasions! We create beautiful balloon decor with style. With over 10 years of balloon decorating experience. From Weddings, Quincea&ntilde;eras and Birthday Parties or any special occasion that requires a little imagination and creativity you need not look any further! We are committed to providing you with affordable on site professional decor for your special occasion. We incorporate items such as floral, fabric and lighting to create a beautiful and inviting atmosphere.
            %p For a firm quote we suggest that you make an appointment for us to see you at the place of venue, or your home where you can see photos of our previous work!
            %p We hope to do business with you.
              
            %p &nbsp;

            %h4 Thirty-One Gifts by Cindy
            %p
              %b Name	Cindy Church
              = " | "
              %a{:href => "http://www.mythirtyone.com/cindychurch", :target => "_blank"} mythirtyone.com/cindychurch
              = " | "
              %a{:href =>"mailto:cindy_church81@yahoo.com"} cindy_church81@yahoo.com
            %p
              %b Details:
              %br
              Thirty-One Gifts is a faith-based direct sales company that offers fun, functional, fashionable, and personalizable tote bags, purses, thermals, wallets and more! The company motto is to celebrate, encourage, and reward women! I love to party-with-a-purpose and help my hostesses earn fabulous products for FREE! The Thirty-One business opportunity is second to none! I am looking for ladies who are ready to join in this adventure with me either through booking a party, joining my team, or both! Join the adventure of Thirty-One today!
            %p
              %b Special Offer to AnnaKnows Visitors:
              %br
              AnnaKnows visitors receive 10% off their order

            %p.page-top
              %a{:href => @link6[1]} Top ^
          
          %a{:name => @link6K[1]}
          .section.no-image
            %h1=@link6K[0]
            
            %h4 Metoyer Insurance Agency
            %p
              %b Darius Metoyer
              = " | "
              %a{:href => "http://www.facebook.com/metoyerinsurance", :target => "_blank"} facebook.com/metoyerinsurance
              = " | "
              %a{:href =>"mailto:metoyerinc@gmail.com"} metoyerinc@gmail.com
            %p
              %b Details:
              %br
              Metoyer Insurance is a full service insurance agency that specializes in Auto, Home, Life and Business insurance. We are available to meet with at your convenience at your home or at our office. We will provide you with a high lever of customer service and if your not impressed we want to know about it. 
            %p
              9320 Eastex Freeway
              %br
              Houston, TX 77093
              %br
              (713) 697-0831
            %p Auto, Home, Life & Business
              
            %p.page-top
              %a{:href => @link6[1]} Top ^
          
          %a{:name => @link6L[1]}
          .section.no-image
            %h1=@link6L[0]
            
            %h4 Be the first to advertise here!
            %p
              %a{:href => "/services"} Find out how >>
            %p.page-top
              %a{:href => @link6[1]} Top ^
          
          %a{:name => @link6M[1]}
          .section.no-image
            %h1=@link6M[0]
            
            %h4 Heaven's Garden Lawn & Landscaping
            %p
              %b Blanca Edwards
              = " | "
              %a{:href => "http://www.facebook.com/heavensgardenlawn", :target => "_blank"} facebook.com/heavensgardenlawn
              = " | "
              %a{:href =>"mailto:heavensgarden@hotmail.com"} heavensgarden@hotmail.com
            %p
              %b Details:
              %br
              Lawn Mowing - Starting at $30: We are a lawn and landscaping company with 27 years of experience. Our services include: lawn maintenance, mowing-all lawn areas, weedeating-where the mowers cannot go, edging-all sidewalks, street curbs, driveways, blowing of all hard surface areas, one time clean ups, shrub trimming, mulching of flowerbeds, cleaning of flowerbeds, sodding, creating and designing flowerbeds, seasonal color changeouts, and fertilization treatments.
            %p
              Our prices are fair. We are dependable, honest and have many references if needed. We schedule promptly and quickly. Hours: 8 am - 7 pm, Monday - Saturday, 832.202.5477.
              
            %p.page-top
              %a{:href => @link6[1]} Top ^
          
          %a{:name => @link6N[1]}
          .section.no-image
            %h1=@link6N[0]
            
            %h4 Be the first to advertise here!
            %p
              %a{:href => "/services"} Find out how >>
            %p.page-top
              %a{:href => @link6[1]} Top ^
          
          %a{:name => @link6O[1]}
          .section.no-image
            %h1=@link6O[0]
            
            %h4 Be the first to advertise here!
            %p
              %a{:href => "/services"} Find out how >>
            %p.page-top
              %a{:href => @link6[1]} Top ^
          
          %a{:name => @link6P[1]}
          .section.no-image
            %h1=@link6P[0]
            
            %h4 Life in Print Photography
            %p
              %b April Lewis
              = " | "
              %a{:href => "http://www.lifeinprintphotography.net", :target => "_blank"} lifeinprintphotography.net
              = " | "
              %a{:href =>"mailto:april@lifeinprintphotography.net"} april@lifeinprintphotography.net
            %p
              %b Details:
              %br
              Life In Print Photography wants to capture your memories in print, so you can remember them for life. We specialize in custom and creative sessions to fit our client's photography needs. Working on-location or in the client's home, gladly traveling for our clients to insure each session is convenient and fun. 
            %p
              Life In Print Photography provides a variety of photography services in the Houston and other surrounding areas. We offer Weddings & Bridal Photography, Portraiture of all types (Engagements, Maternity, Newborn, Family &amp; Seniors), Corporate headshots and all of your special events and parties. Great photography doesn't have to be expensive, try one of our budget friendly mini sessions! Call today to hear about our specials, mention you saw this ad on Anna Knows and get two free 8x10s with any session.
              
            %p.page-top
              %a{:href => @link6[1]} Top ^
          
          %a{:name => @link6Q[1]}
          .section.no-image
            %h1=@link6Q[0]
            
            %h4 Be the first to advertise here!
            %p
              %a{:href => "/services"} Find out how >>
            %p.page-top
              %a{:href => @link6[1]} Top ^
          
          %a{:name => @link6R[1]}
          .section.no-image
            %h1=@link6R[0]
            
            %h4 Be the first to advertise here!
            %p
              %a{:href => "/services"} Find out how >>
            %p.page-top
              %a{:href => @link6[1]} Top ^
          
          